.leaderboard {
  flex-grow: 1;

  h3 {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 0.9em;
    letter-spacing: 1px;
    margin-top: 20px;
    margin-bottom: 0;
    color: rgba(white, 0.6);
  }

  p {
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 1.2em;
  }
}

.leaderboard-project {
  b {
    color: $bright-blue;
  }
}

.leaderboard-users {
  p:first-of-type {
    b {
      color: $bright-yellow;
    }
  }

  p:nth-of-type(2) {
    b {
      color: mix($bright-yellow, $bright-red);
    }
  }

  b {
    color: $bright-red;
  }
}

.leaderboard-issues {
  b {
    color: $bright-green;
  }
}
