.notifications {
  @include grid;
}

.audio-actions {
  background: rgba($dark-gray, 0.5);
  border-radius: 20px;
  bottom: 10px;
  left: 10px;
  padding: 10px;
  position: fixed;
}

.audio-action {
  background: $medium-gray;
  border: 0;
  border-radius: 20px;
  color: white;
  font: inherit;
  margin-left: 10px;
  padding: 10px 20px;

  &:first-child {
    margin-left: 0;
  }
}
