.package {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 25px;
  background-image: linear-gradient(
    150deg,
    $medium-gray,
    rgba($medium-gray, 0.3)
  );
  border-radius: 20px;
  box-shadow: 0 20px 50px rgba(black, 0.1);

  // Hack to fix weird sizing caused by whitespace: nowrap
  min-width: 0;

  h3 {
    width: 100%;
    margin: 0;
    margin-bottom: 5px;
    overflow: hidden;
    white-space: nowrap;
    font-size: 1em;
    text-overflow: ellipsis;
  }

  p {
    margin: 0;
  }
}

.package-time {
  margin-left: auto;
  opacity: 0.5;
}
