.stats {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.stats-activity-wrapper {
  position: relative;
  display: flex;
  width: 50%;
  margin-right: 30px;

  p {
    margin-top: 5px;
    font-size: 1.2em;
  }
}

.stats-activity {
  position: absolute;
  height: 15vw;
  width: 100%;
  bottom: 0;
  left: 0;
  overflow: hidden;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.stats-activity-graph {
  height: 15vw;
}
