.project {
  display: flex;
  flex-direction: column;
  height: 100%;

  hr {
    width: 100%;
    opacity: 0.8;
    margin: 20px 0;
    border: none;
    border-top: 1px solid #989898;
    mix-blend-mode: overlay;
  }
}

.project-issues {
  font-size: 1.2em;
  line-height: 1;
  margin-top: 10px;
  margin-bottom: 20px;
}

.project-build + .project-package {
  margin-top: 10px;
}

.project-activity {
  width: calc(100% + 50px);
  margin-left: -25px;
  margin-bottom: -20px;
  margin-top: auto;
}
