html {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: $dark-gray;
  color: white;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  @include fluid-type(320px, 1280px, 14px, 18px);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

h1 {
  font-size: 3em;
  max-width: 8em;
  line-height: 1;
}

h2 {
  font-weight: 300;
  font-size: 2em;
  margin-top: 40px;
  opacity: 0.6;
}

.mouse-user * {
  outline: none;
}
