$font-size-base: 18px;

$bright-blue: #6cd9f7;
$bright-purple: #ff8dac;
$bright-green: #b1df7f;
$bright-red: #ff8561;
$bright-yellow: #ffeb3b;
$blue: #5c72c9;
$green: #3ebd74;
$purple: #b735ff;
$red: #ea376c;
$yellow: #ffc107;

$medium-gray: #525d7c;
$dark-gray: #3e4969;

$breakpoint-m: 768px;
$breakpoint-l: 1200px;
$breakpoint-xl: 1500px;
