.notification {
  display: flex;
  align-items: center;

  img {
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    border-radius: 100%;
  }

  b {
    display: inline-block;
  }

  &.theme-issue-close {
    .notification-icon {
      background-color: $bright-red;
      background-image: linear-gradient(150deg, $bright-red, $red);
    }
  }

  &.theme-pull-request,
  &.theme-issue-open {
    .notification-icon {
      background-color: $bright-green;
      background-image: linear-gradient(150deg, $bright-green, $green);
    }
  }

  &.theme-merge {
    .notification-icon {
      background-color: $bright-purple;
      background-image: linear-gradient(150deg, $bright-purple, $purple);
    }
  }
}

.notification-icon {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  height: 30px;
  width: 30px;
  margin-left: -10px;
  margin-right: 15px;
  border-radius: 100%;
  background-image: linear-gradient(150deg, $medium-gray, $dark-gray);
}

.notification-username {
  margin-right: 0.3em;
}

.notification-time {
  flex-shrink: 0;
  margin-left: auto;
}
