.notification {
  display: flex;
  align-items: center;
  background-color: whitesmoke;
  padding: 10px 20px 10px 15px;
  border-radius: 10px;
  margin-top: 10px;
  color: #333;

  img {
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    border-radius: 100%;
  }

  b {
    display: inline-block;
  }

  &.theme-issue-close {
    background-color: $red;
    color: white;

    .notification-icon {
      background-color: $bright-red;
    }
  }

  &.theme-pull-request,
  &.theme-issue-open {
    background-color: $green;
    color: white;

    .notification-icon {
      background-color: $bright-green;
    }
  }

  &.theme-merge {
    background-color: $purple;
    color: white;

    .notification-icon {
      background-color: $bright-purple;
    }
  }
}

.notification-icon {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  height: 30px;
  width: 30px;
  margin-left: -10px;
  margin-right: 15px;
  border-radius: 100%;
  background-color: white;
}

.notification-username {
  margin-right: 0.3em;
}

.notification-time {
  flex-shrink: 0;
  margin-left: auto;
  opacity: 0.6;
}
