.notification {
  display: flex;
  align-items: center;
  background-color: whitesmoke;
  padding: 10px 20px 10px 15px;
  border-radius: 10px;
  margin-top: 10px;

  img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-right: 15px;
  }

  b {
    display: inline-block;
  }

  span {
    margin-right: 0.5em;
  }
}

.notification-username {
  margin-right: 0.5em;
}

.notification-time {
  flex-shrink: 0;
  margin-left: auto;
  color: gray;
}
