.stats-table {
  width: 100%;
  text-align: center;
  margin: 40px 0 20px 0;

  .spacer {
    background: transparent;
    &:before {
      content: "\00a0";
    }
  }

  th {
    position: relative;
    height: 2rem;
    padding-bottom: 10px;

    div {
      position: absolute;
      top: -30px;
      width: 100%;
      font-size: 1.3rem;
    }
  }

  th:first-of-type {
    text-align: left;
  }

  td {
    background: #000;
    height: 2rem;

    &:hover:not(.spacer) {
      transform: scale(1.4);
      border: 2px solid white;
      border-radius: 5px;
    }

    &.red {
      background: #5e0000;
    }
    &.yellow {
      background-color: #d77900;
      font-size: 1.1rem;
    }
    &.green {
      background: #6d9521;
      font-size: 1.2rem;
    }
    &.blue {
      background: #4a92b7;
      font-size: 1.2rem;
    }
    &.purple {
      background: #83579d;
      font-size: 1.25rem;
    }
  }
}
