//table color scale based on percentage of max value per row (category).
$base-color: #268ebe;
$table-color-0: transparent;
$table-color-20: rgba($base-color, 0.2);
$table-color-40: rgba($base-color, 0.4);
$table-color-60: rgba($base-color, 0.6);
$table-color-80: rgba($base-color, 0.8);
$table-color-100: $base-color;

.stats-table {
  p {
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 1.2em;
  }

  table {
    width: 100%;
    text-align: center;
    margin: 40px 0 20px 0;

    .spacer {
      background: transparent;
      &:before {
        content: "\00a0\00a0";
      }
    }

    th {
      position: relative;
      height: 2rem;
      padding-bottom: 10px;

      div {
        position: absolute;
        top: -30px;
        width: 100%;
        font-size: 1.3rem;
      }
    }

    th:first-of-type {
      text-align: left;
    }

    tr {
      display: flex;

      th:not(.spacer),
      td:not(.spacer) {
        flex: 2;
      }

      > th:first-of-type {
        flex: 3;
        min-width: 180px;
      }
    }

    td {
      background: #000;
      height: 2rem;

      &.table-0 {
        background: $table-color-0;
      }
      &.table-20 {
        background-color: $table-color-20;
        font-size: 1.1rem;
      }
      &.table-40 {
        background: $table-color-40;
        font-size: 1.2rem;
      }
      &.table-60 {
        background: $table-color-60;
        font-size: 1.2rem;
      }
      &.table-80 {
        background: $table-color-80;
        font-size: 1.25rem;
      }
      &.table-100 {
        background: $table-color-100;
        font-size: 1.25rem;
      }
    }
  }

  .legend {
    position: relative;
    height: 20px;
    max-width: 300px;
    margin-left: auto;
    margin-bottom: 20px;
    background: linear-gradient(
      to right,
      $table-color-20 0%,
      $table-color-40 20%,
      $table-color-60 40%,
      $table-color-80 60%,
      $table-color-80 80%
    );

    &:before {
      content: "0%";
      position: absolute;
      left: 0;
      top: 20px;
    }

    &:after {
      content: "100%";
      position: absolute;
      right: 0;
      top: 20px;
    }
  }
}
